body{
    background-image: url(../img/35678.jpg);
    text-align: center;
    font-family: sans-serif;
}
.container{
    background: rgba(231, 40, 40, 0.6);
}
.button{
    text-decoration: none;
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    background-image: linear-gradient(maroon,red);
    cursor: pointer;
    outline: none;
    box-shadow: 0 9px #999;
}
.button:hover{
    background-color: maroon;
}
.button:active{
    background-color:maroon;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.design{
    font-size: 40px;
    color:white;
}
.logo{
    width: 45rem;
}
